img {
  height: 400px;
  background-color: turquoise;
}
.headline {
  color: aqua;
  text-align: center;
  background-color: black;
}
.subheader {
  text-align: center;
}
a {
  color: blue;
}
.intro {
  background-color: yellowgreen;
}
.main-text {
  color: cornflowerblue;
  background-color: wheat;
}
.text-more {
  color: crimson;
}
.idea {
  color: chartreuse;
  background-color: saddlebrown;
}
.subheader, .main-text .idea {
  color: chocolate;
  background-color: cyan;
}
.footer-element {
  color: violet;
}
